In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('databfNorm.csv', engine = 'python')
print('Number of observations',len(df))
df.head(3)

Number of observations 5891

,Gender,Marital_Status,oneProduct,prefCount,totCount,preftotCount,prefPurchase,totPurchase,preftotPurchase,Age_0_17,...,CityYears_3,CityYears_4gt,prefCat1_1,prefCat1_5,prefCat1_8,prefCat1_19,prefCat2_1,prefCat2_5,prefCat2_8,prefCat2_19
0,0,0,0,0.035197,0.028431,0.485294,0.029672,0.027579,0.365813,1,...,0,0,0,0,0,1,0,0,1,0
1,1,0,0,0.111801,0.069608,0.692982,0.108858,0.073027,0.662439,0,...,0,1,1,0,0,0,0,0,1,0
2,1,0,0,0.045549,0.023529,0.798851,0.048367,0.028356,0.786757,0,...,1,0,1,0,0,0,0,1,0,0

In [3]:
for i in range(len(df.columns)):
    print(i, df.columns[i])

0 Gender
1 Marital_Status
2 oneProduct
3 prefCount
4 totCount
5 preftotCount
6 prefPurchase
7 totPurchase
8 preftotPurchase
9 Age_0_17
10 Age_18_25
11 Age_26_35
12 Age_36_45
13 Age_46_50
14 Age_51_55
15 Age_55gt
16 City_Category_A
17 City_Category_B
18 City_Category_C
19 CityYears_0
20 CityYears_1
21 CityYears_2
22 CityYears_3
23 CityYears_4gt
24 prefCat1_1
25 prefCat1_5
26 prefCat1_8
27 prefCat1_19
28 prefCat2_1
29 prefCat2_5
30 prefCat2_8
31 prefCat2_19

In [29]:
to_test = df.columns[list(range(24, 28))]
to_drop = df.columns[list(range(24, 28))]
#to_keep = data.columns[[2]+list(range(31,34))]

X = np.array(df.drop(to_drop, axis=1))
y_vector = np.array(df[to_test])

y = np.zeros(len(y_vector))
for i in range(len(y_vector)):
    y[i] = np.argmax(y_vector[i])
print(X[0])
print(y[0])

[0.         0.         0.         0.03519669 0.02843137 0.48529412
 0.02967225 0.02757857 0.36581268 1.         0.         0.
 0.         0.         0.         0.         1.         0.
 0.         0.         0.         1.         0.         0.
 0.         0.         1.         0.        ]
3.0

In [6]:
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.metrics import accuracy_score

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

In [33]:
model = tree.DecisionTreeClassifier()
model = model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.7882901994060246

In [38]:
print('First 20 real')
print(y_test[:20])

print('\nFirst 20 predicted')
print(y_pred[:20])

First 20 real
[0. 2. 1. 2. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 2. 0. 3.]

First 20 predicted
[0. 2. 1. 0. 0. 0. 0. 0. 0. 2. 1. 0. 0. 2. 0. 3. 0. 2. 0. 1.]